@font-face {
    font-family: 'Toy Train';
    src: url(./Fonts/ToyTrain-WYdO.ttf);
}

@font-face {
    font-family: 'Channel Font';
    src: url(./Fonts/Lora.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: MontserratIT;
    src: url(../Fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

nav {
    background-color: #ffffff00;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; 
    background: linear-gradient(to left, transparent, #005500, transparent); 
}

.nav-options {
    display: flex;
    position: relative;
}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease; 
    background-color: #ffffff; 
}

nav a:hover {
    color: #393939; 
}

.dropdown {
    position: relative;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px; 
    border: 2px solid #ffffff; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}

.dropdown-content a {
    color: #000000;
    padding: 10px 20px;
    display: block;
}

.dropdown-content a:hover {
    color: #178813;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    font-size: inherit;
    background-color: #ffffff00; 
    cursor: pointer;
    transition: color 0.3s ease; 
    border: none; 
}

.dropbtn:hover {
    color: #178813;
}

.navbarCart {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
}

.cartImg {
    width: 25px;
    height: 25px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.logo img {
    width: 5rem;
    height: auto;
}

.company-name {
    font-family: 'Toy Train';
    font-size: 3rem;
    color: #277212;
    text-decoration: none;
}

.company-name:hover,
.company-name:active {
    color: #277212;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#numberInfo {
    margin-bottom: 250px;
}

.youtube-container {
    position: absolute;
    top: 150px; 
    right: 20px;
    width: 400px; 
    height: 320px; 
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
}

.youtube-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.youtube-header img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.channel-name {
    font-family: 'Channel Font';
    font-size: 1.3rem; 
}

.youtube-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
}

.youtube-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.search-container {
    margin-left: auto;
}

#searchBar {
    display: none;
    width: 250px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

#searchButton {
    background: none;
    border: none;
    padding: 0;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

#searchButton img {
    width: 100%; 
    height: 100%; 
}

.search-container {
    display: flex;
    align-items: center;
}

.search-results {
    position: absolute;
    width: calc(100% - 10px);
    top: calc(100% + 2px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}
.result-item {
    padding: 8px 12px;
    cursor: pointer;
}

.result-item:hover {
    background-color: #f5f5f5;
}

#message {
    width: 95%;
    height: 200px;
}

.submitButton {
    position: relative;
    background: linear-gradient(90deg, #0fa60f 0%, #7ccf7c 100%); 
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    overflow: hidden;
    font-family: Montserrat;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 100, 0, 0.4); 
    transition: transform 0.3s ease-in-out;
    display: block;
    margin: 0 auto;
}

.submitButton:hover {
    transform: translateY(-2px);
}

.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 20%, transparent 90%);
    transform: scale(0);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.submitButton:hover .icon {
    transform: scale(2);
}  

.trackingBtn {
    background: linear-gradient(90deg, #0fa60f 0%, #7ccf7c 100%); 
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 30px;
    overflow: hidden;
    font-family: Montserrat;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 100, 0, 0.4); 
    transition: transform 0.3s ease-in-out;
    width: 8rem;
    margin-top: 10px;
}

.trackingBtn:hover {
    transform: translateY(-2px);
}

.welcomeInfo {
    padding: 20px;
    font-size: 12px;
    font-family: MontserratIT;
}

.productImg {
    width: 15rem;
    height: 15rem;
    display: inline-block;
    padding: 20px;
}

#orderNumber {
    width: 20%;
    padding: 10px;
}

#trackingInfo {
    margin-bottom: 200px;
}

footer {
    background: linear-gradient(to right, #3bb78f, #0bab64);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Responsive */

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: stretch;
    }

    .dropdown {
        margin: 10px 0;
    }

    .dropdown-content {
        left: 0;
        transform: none;
        min-width: unset;
        width: 100%;
        font-size: 12px;
    }

    .search-container {
        display: none;
    }

    .youtube-container {
        display: none;
    }

    #orderNumber {
        width: 40%; 
        padding: 10px;
        font-size: 14px; 
    }

    .productImg {
        width: calc(50% - 40px); 
        max-width: 200px; 
        height: auto;
        display: inline-block;
        padding: 20px;
    }
}
